.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    z-index: 1;
    padding-bottom: 4rem;
}

.wrapper img {
    width: 8rem;
}

.nextjs {
    padding: 0.5rem;
    border: 0.5rem solid var(--zinc-600);
    border-radius: 50%;
    background: var(--zinc-700);
}

.content {
    display: flex;
    align-items: center;
}

.content strong {
    color: var(--white);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content svg {
    color: var(--violet-400);
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        padding-bottom: 4rem;
    }
}