.headerBar {
    position: relative;
    width: 100%;
    height: 6rem;
    z-index: 2;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border: none;
    color: var(--zinc-200);
    background: var(--zinc-700);
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.content button:hover {
    background: var(--violet-600);
    box-shadow: 0 0 50px rgb(46,16,101);
}

.boxLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

.boxLinks li {
    position: relative;
    color: var(--zinc-50);
    list-style: none;
    margin-right: 2rem;
    transition: color .1s;
    cursor: pointer;
}

.boxLinks li:hover {
    color: var(--violet-400);
}

.tabSelect {
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--violet-700);
}