.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
    z-index: 1;
    margin-bottom: 1rem;
}

.wrapper .title {
    display: flex;
    align-items: center;
    color: var(--violet-600);
    gap: 0.5rem;
    font-size: 2.5rem;
}

.content {
    display: flex;
    gap: 2rem;
}

@media (max-width: 768px) {
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title {
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        padding-bottom: 4rem;
    }
}