.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    max-width: 100%;
}

.wrapper img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    color: var(--zinc-200);
    padding-right: 1rem;
    gap: 1rem;
}

.content time {
    color: var(--violet-500);
}

.content strong {
    font-size: 1.5rem;
    color: var(--zinc-100);
}

.content p {
    line-height: 22px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .lerMais {
    display: flex;
    align-items: center;
    color: var(--violet-600);
    cursor: pointer;
    text-decoration: none;
}

.footer time {
    color: var(--zinc-500);
}

.infoBox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobileImage {
    display: none;
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .content {
        align-items: center;
    }

    .desktopImage {
        display: none;
    }

    .mobileImage {
        display: flex;
        width: 100%;
    }

    .timeToRead {
        display: none;
    }

    .infoBox {
        justify-content: space-between;
    }

    .footer {
        width: 100%;
        justify-content: space-between;
    }
}

